<div class="circle-container">
    <div class="circle-outer-grey"></div>
    <div class="circle-inner-grey"></div>
    <div class="circle-main">
      <div class="circle-inner" style="--total: 11">
        <div class="stat flex justify-center items-center" style="--i:8"><ng-icon name="matDownload"></ng-icon></div>
        <div class="stat" style="--i:9"><ng-icon name="matDownload"></ng-icon></div>
        <div class="stat" style="--i:10"><ng-icon name="matDownload"></ng-icon></div>
        <div class="stat" style="--i:7"><ng-icon name="matDownload"></ng-icon></div>
      </div>
    </div>
  </div>